{% extends "base.html" %}
{% block content %}
<form method="get">
    <input type="text" size="30" name="email" value="email" />
    <input type="text" size="11" maxlength="11" name="key" value="key" />
    <input type="submit" value="submit" />
</form>

{% for obj in object_list %}
    <li>{{ obj }} <span>
        <a href="{% url "update-appointment" obj.appointment_key %}">Update</a> | 
        <a href="{% url "delete-appointment" obj.appointment_key %}">Delete </a>
    </li>
{% empty%}
    <h2> No appointment found </h2>
{% endfor %}
{% endblock %}